.message_section {
    position: relative;
    background-color: hsl(var(--secondary-colour));
    display: flex;
    flex-direction: column;
    height: 100%;
    min-width: 260px;
    width: 20%;
    max-width: 50%;
    resize: horizontal;
    overflow: hidden;
    transition: 0.5s;
    padding-right: 5px;
}

.message_section .header {
    display: flex;
    place-items: center;
    padding: 10px;
}

.side_menu_button {
    background-image: url('./Icons/menu.png');
    background-position: 50%;
    background-size: 70%;
    background-repeat: no-repeat;
    width: 5px;
    height: 5px;
    background-color: transparent;
    border: 0;
    cursor: pointer;
    filter: var(--sub-fore-colour-filter);
    margin-right: 5px;
    border-radius: 100vh;
    padding: 15px;
    transition: 0.4s;
}
.side_menu_button:is(:hover, :focus) {
    filter: var(--sub-fore-colour-filter-on);
}
.side_menu_button:focus {
    background-color: hsl(var(--main-colour));
}

.search_input_container {
    position: relative;
    width: 100%;
}
.search_input {
    background-color: hsl(var(--fore-colour));
    border: 0;
    color: white;
    padding: 7px;
    font-size: var(--font-size);
    border-radius: 1vh;
    width: calc(100% - 14px);
}
.search_input_placeholder {
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    left: 10px;
    transition: 0.2s;
}
.clear_input_button {
    position: absolute;
    background-image: url('./Icons/delete_2.png');
    background-repeat: no-repeat;
    background-position-x: 50%;
    background-position-y: 50%;
    background-size: 80%;
    width: 10px;
    height: 10px;
    background-color: transparent;
    border: 0;
    filter:
        opacity(0.25)
        drop-shadow(0 0 0 hsl(var(--fore-colour)))
        saturate(10);
    top: calc(50% - 5px);
    right: 5px;
    transition: 0.4s;
    cursor: pointer;
}
.clear_input_button:hover {
    filter:
        opacity(0.5)
        drop-shadow(0 0 0 hsl(var(--sub-fore-colour)))
        saturate(5);
}

.message_renderer {
    height: 100%;
    overflow: hidden;
    transition: 0.1s;
}
.message_renderer:is(:hover, :focus-within) {
    overflow-y: auto;
    width: calc(100% + 5px);
}
.message_renderer::-webkit-scrollbar {
    width: 5px;
}
.message_renderer::-webkit-scrollbar,
.message_renderer::-webkit-scrollbar-track {
    background-color: hsl(var(--main-colour));
    border-radius: 100vh;
}
.message_renderer::-webkit-scrollbar-thumb {
    background-color: hsl(var(--fore-colour));
    border-radius: 100vh;
}

.loading_message {
    display: flex;
    place-content: center;
    place-items: center;
    height: 100%;
}

@media (max-width: 600px) {
    .message_section {
        position: fixed;
        left: 0;
        max-width: 100%;
        width: 100%;
        resize: none;
    }
}