.black_cover {
    position: absolute;
    background-color: black;
    width: 100%;
    height: 100%;
    opacity: 0.5;
    transition: 0.5s;
    z-index: 4;
}

.side_menu {
    position: absolute;
    background-color: hsl(var(--secondary-colour));
    left: 0;
    max-width: 50%;
    min-width: 200px;
    height: 100%;
    color: white;
    transition: 0.5s;
    resize: horizontal;
    display: flex;
    flex-direction: column;
    overflow: hidden;
    z-index: 5;
}

.side_menu .header {
    position: relative;
    padding-bottom: 15px;
    padding-top: 25px;
    border-bottom: 1px solid hsl(var(--main-colour));
}
.side_menu .header .icon {
    width: 40px;
    height: 40px;
    margin-left: 20px;
}
.side_menu .header .icon_button.back {
    position: absolute;
    top: 35px;
    right: 15px;
    transform: rotate(-90deg);
    opacity: 0;
    visibility: hidden;
}
.side_menu .header .user_data {
    position: relative;
    display: flex;
    cursor: pointer;
    border: 0;
    background-color: transparent;
    text-align: start;
    margin-top: 20px;
    color: white;
    padding-left: 15px;
    padding-right: 15px;
    width: 100%;
}
.side_menu .header .icon_container {
    width: fit-content;
}
.user_data .user_phone {
    color: hsl(var(--sub-fore-colour));
}
.user_data .accounts_toggle_button {
    position: absolute;
    background-image: url('./Icons/combo_box_arrow.png');
    background-position-x: 50%;
    background-position-y: 50%;
    background-repeat: no-repeat;
    background-size: contain;
    right: 50px;
    width: 25px;
    height: 25px;
    align-self: center;
    justify-self: end;
    cursor: pointer;
    transition: 0.25s;
    filter: var(--sub-fore-colour-filter);
    transform: rotateZ(0deg);
}
.user_data:is(:hover, :focus) .accounts_toggle_button {
    filter: var(--sub-fore-colour-filter-on);
}

.accounts_wrapper {
    position: relative;
    overflow: hidden;
    transition: 0.25s;
    border-bottom: 1px solid hsl(var(--main-colour));
    display: flex;
    place-items: center;
    min-height: 45px;
}
.accounts_container {
    background-color: transparent;
    border: 0;
    padding: 0;
    color: white;
    display: flex;
    place-items: center;
    transform: translateY(0);
    transition: 0.4s;
    width: 100%;
    padding: 7.5px;
    cursor: pointer;
    padding-left: 15px;
    height: fit-content;
}
.accounts_container:is(:hover, :focus-within) {
    background-color: hsl(var(--fore-colour));
}
.add_account_button {
    background-color: hsl(211, 47%, 54%);
    background-image: url('./Icons/plus.png');
    background-position-x: 50%;
    background-position-y: 50%;
    background-size: 75%;
    background-repeat: no-repeat;
    border: 0;
    border-radius: 100vh;
    width: 20px;
    height: 20px;
    margin-right: 15px;
    margin-left: 5px;
}

.buttons_container {
    display: flex;
    flex-direction:column;
    overflow: auto;
    height: 100%;
}
.buttons_container::-webkit-scrollbar {
    width: 5px;
}
.buttons_container::-webkit-scrollbar,
.buttons_container::-webkit-scrollbar-track {
    background-color: hsl(var(--main-colour));
    border-radius: 100vh;
}
.buttons_container::-webkit-scrollbar-thumb {
    background-color: hsl(var(--fore-colour));
    border-radius: 100vh;
}
.menu_button {
    background-color: transparent;
    border: 0;
    color: white;
    text-align: left;
    cursor: pointer;
    display: flex;
    place-items: center;
    margin-top: 7.5px;
    padding: 7.5px;
    padding-left: 17px;
    transition: 0.4s;
}
.menu_button:is(:hover, :focus-within) {
    background-color: hsl(var(--fore-colour));
}
.menu_button .icon {
    background-position-x: 50%;
    background-position-y: 50%;
    background-size: 65%;
    background-repeat: no-repeat;
    width: 25px;
    height: 25px;
    border-radius: 1vh;
    margin-right: 15px;
    background-color: hsl(var(--fore-colour));
}

.side_menu .footer {
    background-color: hsl(var(--secondary-colour));
    color: hsl(var(--sub-fore-colour));
    bottom: 0;
    padding: 20px;
    padding-top: 10px;
    padding-bottom: 15px;
    letter-spacing: 0.5px;
    border-top: 1px solid hsl(var(--main-colour));
}
.side_menu .footer .creator {
    color: lawngreen;
}
.side_menu .footer div {
    cursor: default;
}
.side_menu .footer a {
    color: inherit;
    text-decoration: none;
}
.side_menu .footer a:hover {
    text-decoration: underline;
}

@media (max-width: 600px) {
    .black_cover {
        visibility: hidden;
        opacity: 0;
    }
    .side_menu {
        max-width: 100%;
        width: 100%;
        resize: none;
    }
    .side_menu .header .icon_button.back {
        opacity: 1;
        visibility: visible;
    }
}